<footer class="bg-[#0A0416] flex flex-col md:flex-row justify-between items-center gap-3 py-3 pl-8 md:pl-16 lg:pl-24 pr-8 md:pr-16 lg:pr-40 xl:pr-56">
    <div class="text-sm sm:text-base left-sec">
        Designed and Developed by Raul Rivas
    </div>

    <div class="text-sm sm:text-base mid-sec">
        Copyright © 2025 SB
    </div>

    <div class="flex items-center justify-between gap-6 text-sm right-sec">
        <a href="https://github.com/raulrivas276" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
             <fa-icon [icon]="faGithub" class="self-center text-base"></fa-icon>
        </a>
        <a href="https://x.com/" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
             <fa-icon [icon]="faTwitter" class="self-center text-base"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
             <fa-icon [icon]="faLinkedin" class="self-center text-base"></fa-icon>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="cursor-pointer">
             <fa-icon [icon]="faInstagram" class="self-center text-base"></fa-icon>
        </a>
    </div>
</footer>